%h1 Welcome to Rotten Potatoes!
%div
Brief project description
%p
 *****************************************************************************
%p 
Try out different styling on this page before using it globally
%br 
Add explanatory and appealing text here! 
%br
Users must have GitHub account (for now)
%br
Name and email must be publicly available on profile 
%br
Ultimately, site should only be available to students with valid suny BU id OR vendors, 
%br
E.g., those who are providing services to students
%p *****************************************************************************
%div


